.app-grid {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
}

@media (min-width: 900px) {
    .App {
        grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    }
}

.card {
    animation: fadeIn;
    animation-duration: 2s;
    cursor: pointer;
}

.confetti {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

button {
    height : 100%;
    background-color: #537ea1;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}