.App {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
}

@media (min-width: 900px) {
    .App {
        grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    }
}

.card {
    cursor: pointer;
}